aiohttp
aiodns
curl_cffi
playwright
beautifulsoup4
pybloom_live
scikit-learn
pandas
numpy
matplotlib
requests
tqdm
dnspython
shodan
censys
virustotal-python
python-whois
pyasn
pdfplumber
python-docx
openpyxl
stem
2captcha-python
levenshtein
scipy
fpdf2
jinja2
python-dateutil
psutil
